<div class="containerr">
<h1>And your answer is:</h1>
<div class="question">
<p><%= @question %></p>
<blockquote>-You</blockquote>
</div>
<div class="awnser">
<p><%= @answer %></p>
<blockquote>-Coach</blockquote>
</div>
<%= link_to "Ask a new Question", "ask" %>
</div>
