<div class="containerr">
<h1>Ask Something</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="question"
  placeholder="C'mon, made my time worth" class="text-input">
  <input type="submit" value="Ask!" class="button">
</form>
</div>
